<div class="container">

  <h2> <%= name %> </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <% unless devise_error_messages!.empty? %>
      <div class="alert alert-danger" role="alert">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="form-row">
      <div class="form-group col-md-6" >
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, autocomplete: "off", placeholder: "First Name", class: "form-control" %>
      </div>

      <div class="form-group col-md-6" >
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, autocomplete: "off", placeholder: "Last Name", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email,autocomplete: "off", placeholder: "Email", class: "form-control" %>
    </div>

    <div class="form-group" >
      <%= f.label :cellphone %><br>
      <%= f.text_field :cellphone, autocomplete: "off", placeholder: "Cellphone", class: "form-control" %>
    </div>

    <div class="form-group" >
      <%= f.label :address %><br>
      <%= f.text_field :address, autocomplete: "off", placeholder: "Adress", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>

      <% if name.eql?("Edit") %>
        <i>(leave blank if you don't want to change it)</i><br>
      <% end %>

      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-control" %>
    </div>

    <% if name.eql?("Edit") %>
      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-outline-success btn-block" %>
      </div>

      <%= link_to "Back", :back, class: "btn btn-outline-info btn-block" %>
    <% else %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-outline-success btn-block" %>
      </div>
      <div class="actions">
        <%= render "devise/shared/links" %>
      </div>
    <% end %><br>

  <% end %>

</div>
