<h1>User</h1>
<h3> Name: <%= @user.first_name %> <%= @user.last_name %> </h3>
<p> Cellphone: <%= @user.cellphone %> </p>
<p> Email: <%= @user.email %> </p>
<p> Address: <%= @user.address %> </p>

<h3>Cancel my account</h3>
<p>¿UnHappy? <%= button_to "Cancel my account", @user, data: { confirm: "Are you sure?" }, method: :delete, class: "form" %></p>
<%= link_to "Back", users_path %>