<div class="container">
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <table class="table">
    <tr>
      <th class="bg-info"> Cellphone </th>
      <td><%= @user.cellphone %></td>
    </tr>
    <tr>
      <th class="bg-info"> Email </th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th class="bg-info"> Address </th>
      <td><%= @user.address %></td>
    </tr>
  </table>
  <% if @user.eql?(current_user)%>
    <p>¿UnHappy? <%= button_to "Cancel my account", @user, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger" %></p>
  <% end %>
  <%= link_to "Back", users_path, class: "btn btn-outline-info" %>
</div>
