<div class="container-fluid">
  <h1 class="text-center mx-auto " >Products</h1>
  <table class="table table-hover">
    <thead>
      <tr class="p-3 mb-2 bg-info text-white">
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col" >Price</th>
        <% if user_signed_in? %>
          <th scope="col"> Delete </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product|  %>
        <tr >
          <td><%= link_to product.name, product %></td>
          <td><%= product.description %></td>
          <td><%= product.price%></td>
          <% if user_signed_in? %>
            <td ><%= link_to "Delete", product, data: {confirm: "Are you sure?"}, method: :delete, class:"btn btn-outline-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= link_to "New", new_product_path, class:"btn btn-outline-success btn-lg" %>
  <% end %>
</div>