<div class="container ">
  <h1 class="text-center" ><%= @product.name %></h1>
  <div class="text-center">
      <% @product.product_images.each do |product_image| %>
         <%= image_tag product_image.image.url(:thumb)%>
      <% end %>
  </div>
  <br>
  <table class="table">
    <tr>
      <th class="bg-info">Description</th>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th class="bg-info">Price</th>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <th class="bg-info">Quantity</th>
      <td><%= @product.quantity %></td>
    </tr>
    <tr>
      <th class="bg-info">Category</th>
      <td><%= @product.category.name %></td>
    </tr>
  </table>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_product_path, class: "btn btn-outline-info btn-lg" %>
  <% end %>
  <%= link_to "Back", products_path, class: "btn btn-outline-info btn-lg" %>
</div>
<br>
<br>