<h1 class="title"><%= @product.name %></h1>
<div class="body ">
  <p> <%= @product.description %> </p>
  <p> Precio: <%= @product.price %> </p>
  <p> Cantidad: <%= @product.quantity %> </p>
</div>
<div class="field">
  <button class="form"><%= link_to "Edit", edit_product_path %> </button>
   <button class="form"><%= link_to "Back", products_path %> </button>
</div>